.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
.image,.content,.button{
  float: left;
  width: 30%;
}
.image img{
  height: 100px;
}
.center_wr{
  width: 1200px;
  margin: 0 auto;
}
.card{
    width: 40%;
    border-radius: 5px;
    padding: 20px 21px;
    box-shadow: 5px 8px 23px rgb(0 0 0 / 50%);

}
.button{
    padding: 21px 24px;
    text-align: right;
}
button{
    background: #7a0b05;
    color: #fff;
    outline: none;
    border: 1px solid;
    padding: 10px 13px;
    text-transform: uppercase;
}
.cart-icon{
  position: absolute;
  top: 35px;
  right: 69px;
}
.cart-icon .fa{
  font-size: 43px;
  color: #7b1104;
}
.cart-icon p{
  background: #e91e63;
  color:#fff;
  padding: 2px 0;
  border-radius: 50%;
  position: absolute;
  width: 23px;
  top: -30px;
  right: -13px;
  border: 4px solid #fff;
}